<footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 Caleb Hadley
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="{{environment.githubUrl}}" class="flex items-center mb-4 sm:mb-0">
                <img src="{{environment.githubLogoUrl}}" class="h-5 mr-3" alt="Github Logo"/>
            </a>
        </li>
        <li>
            <a href="{{environment.linkedInUrl}}" class="flex items-center mb-4 sm:mb-0">
                <img src="{{environment.linkedInLogoUrl}}" class="h-5 mr-3" alt="LinkedIn Logo"/>
            </a>
        </li>
    </ul>
</footer>

