<!-- <div class="text-center mt-64"> --->
<div class="text-center mt-24">
    <div class="inline-block text-left w-3/4 md:w-1/2">
        <h2 class="text-xl text-white dark:text-white mb-8">Hi, my name is</h2>
        <h2 class="text-3xl md:text-6xl text-emerald-300 dark:text-white mb-4"><b>Caleb Hadley</b></h2>
        <p class="text-lg text-white dark:text-white md:w-2/3 mt-8 mb-4">I am a fullstack software engineer specialized in building scalable, cloud native backend applications. Currently, I am focused on building serverless microservices on AWS at <span class="text-emerald-300">Fidelity Investments.</span></p>
        <a (click)="scrollToAboutMe()" class="transition inline-block text-sm px-4 py-2 leading-none border rounded text-emerald-300 border-emerald-300 hover:bg-white hover:bg-opacity-20 lg:mt-0">Learn More</a>
    </div>
</div>